<nav class="navbar navbar-light" color="primary">
    <ul class="nav justify-content-start">
        <li class="nav-item">
          <a class="nav-link" routerLink="/bienvenida">Bienvenida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/conversiones" routerLinkActive="active">Conversiones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/calcula-fecha" routerLinkActive="active">Calcula-Fecha</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formulario" routerLinkActive="active">Formularios</a>
        </li>
        </ul>
        <button mat-raised-button color="warn" (click)="logout()">Salir</button>
    </nav>
