<div class="container-fluid loginForm">
  <div class="row border main p-3 bg-light m-4 contenedor">
    <div class="col-12 text-center">
      <h2 >Iniciar Sesión</h2>
    </div>
    <div class="col-12">
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="row mt-3">
          <mat-form-field appearance="fill" class="col-12">
              <mat-label>Usuario</mat-label>
              <input matInput
              formControlName="username"
              placeholder="Juan">
              <mat-error>
                Ingresar un usuario
              </mat-error>
            </mat-form-field>
            <!-- <span>Ingresar un usuario</span> -->
            <mat-form-field appearance="fill" class="col-12">
              <mat-label>Contraseña</mat-label>
              <input matInput
              formControlName="password"
              [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" 
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              >
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
              Ingresar una contraseña
            </mat-error>
            </mat-form-field>

            <div class="col-12 text-center">
              <button type="submit" mat-flat-button color="primary"
              *ngIf="!loading"
              >Iniciar Sesión</button>
              <button type="button" mat-flat-button color="accent"
                [disabled]="true" *ngIf="loading"
                >
                  Espere por favor...
                </button>
            </div>
      </form>
          
      </div>
    </div>
</div>