<div class="container loginForm">
  <div class="row border p-4">
    <div class="col-12">
      <h2 class="text-center">Iniciar Sesión</h2>
    </div>
    <div class="col-12">
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="row mt-3">
          <mat-form-field appearance="fill" class="col-12">
              <mat-label>Usuario</mat-label>
              <input matInput
              formControlName="username"
              placeholder="Juan">
              <mat-error>
                Ingresar un usuario
              </mat-error>
            </mat-form-field>
            <!-- <span>Ingresar un usuario</span> -->
            <mat-form-field appearance="fill" class="col-12">
              <mat-label>Contraseña</mat-label>
              <input matInput
              formControlName="password"
              [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" 
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              >
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
              Ingresar una contraseña
            </mat-error>
            </mat-form-field>
            <!-- <span>Ingresar una contraseña</span> -->

            <div class="col-12 text-center">
              <button type="submit" mat-flat-button color="primary">Iniciar Sesión</button>
            </div>
      </form>

    </div>
  </div>
</div>