<div class="container vh-100 formularioInformacion">
    <div class="row border pt-2">
        <div class="col-12">
            <h2 class="text-center">Formulario-Información</h2>
        </div>
        <div class="col-12">
            <form class="row">
                <mat-form-field appearance="fill" class="col-6 p-3">
                    <mat-label>Nombres</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-6 p-3">
                    <mat-label>Apellidos</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-6 p-3">
                    <mat-label>Fumas</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-6 p-3">
                    <mat-label>Actualmente Practicas Lectura</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-6 p-3">
                    <mat-label>Libros Leídos Ultimos Tres Meses</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-6 p-3">
                    <mat-label>Estado Civil</mat-label>
                    <input matInput>
                </mat-form-field>

                <div class="col-12 text-center">
                    <button type="submit" mat-flat-button color="primary">Enviar</button>
                </div>
            </form>
        </div>

    </div>
</div>