<div class="container-fluid formularioInformacion">
    <div class="row border formularioContenedor p-3 m-4">
        <div class="col-12">
            <h2 class="text-center">Formulario-Información</h2>
        </div>
        <div class="col-12">
            <form [formGroup]="form" class="row" >
                <mat-form-field appearance="fill" class="col-6 p-2">
                    <mat-label>Nombres</mat-label>
                    <input matInput formControlName="nombres">
                    <mat-error>{{errorMsg('nombres')}}</mat-error>
                    <!-- <mat-error>Por favor ingresa tus nombres</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-6 p-2">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="apellidos">
                    <mat-error>{{errorMsg('apellidos')}}</mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="fill" class="col-6 p-2">
                    <mat-label>Fumas</mat-label>
                    <mat-select formControlName="fumas">
                        <mat-option [value]='true'>Sí</mat-option>
                        <mat-option [value]='false'>No</mat-option>
                    </mat-select>
                    <mat-error>Por favor elige una opción</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-6 p-2">
                    <mat-label>Actualmente Practicas Lectura</mat-label>
                    <mat-select formControlName="actualmentePracticasLectura">
                        <mat-option [value]='true' (click)="arrayDisabled">Sí</mat-option>
                        <mat-option [value]='false' (click)="arrayDisabled">No</mat-option>
                    </mat-select>
                    <mat-error>Por favor elige una opción</mat-error>
                  </mat-form-field>

                  <!-- *ngIf="practicasLectura" -->

                  <div  class="col-12 text-center" *ngIf="practicasLectura">
                      <div class="col-12 pb-3 input-group">
                          <input 
                                class="form-control" 
                                [formControl]="nuevoLibro"
                                placeholder="Agregar Libro"
                                >
                          <button mat-flat-button color="primary" type="button" (click)="agregarLibro()">
                              Agregar
                          </button>
                        </div>
                        
                        <div class="col-12">
                            <div formArrayName="librosLeidos" class="row">
                                <div class="col-12 col-sm-6 input-group mb-1 text-center" 
                                *ngFor="let item of librosArreglo().controls; let i = index">
                                <div class="row">
                                    <div class="col-9">
                                        <p class="font-weight-bold p-1">{{item.value}}</p>
                                    </div>
                                    <div class="col-3">
                                        <button type="button"
                                        mat-flat-button color="accent"
                                        (click)="borrar(i)">
                                             Eliminar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                          </div>
                      </div>
                  </div>

                <mat-form-field appearance="fill" class="col-6 p-2">
                    <mat-label>Estado Civil</mat-label>
                    <mat-select formControlName="estadoCivil">
                        <mat-option value=''>--Seleccione una opción--</mat-option>
                        <mat-option *ngFor="let item of items" [value]='item.id'>{{item.id}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="col-12 text-center">
                    <button type="submit" 
                    (click)="formularioEnviado()"
                    mat-flat-button color="primary">Enviar</button>
                </div>
            </form>
        </div>

    </div>
</div>