<div class="container vh-100 calcularFecha">
    <div class="row border p-4">
        <div class="col-12">
            <h2 class="text-center">Calcular Fecha</h2>
        </div>

        <div class="col-12">
            <form [formGroup]="calculaForm" (ngSubmit)="calcular()" class="row mt-3">
                <mat-form-field appearance="fill" class="col-12 p-3">
                    <mat-label>Elegir una fecha</mat-label>
                    <input matInput 
                    formControlName="fecha"
                    [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-12 p-3">
                    <mat-label>Seleccionar Unidad</mat-label>
                    <mat-select formControlName="unidad">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let unidad of unidades" [value]="unidad">
                        {{unidad.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Por favor elige una unidad</mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="fill" class="col-12 p-3">
                    <mat-label>Introducir una Cantidad</mat-label>
                    <input matInput 
                    type="number"
                    formControlName="cantidad">
                    <mat-error>Por favor elige una unidad</mat-error>
                </mat-form-field>

                <div class="col-12 text-center">
                    <button type="submit" mat-flat-button color="primary">Calcular</button>
                </div>
            </form>
        </div>
    </div>
</div>